<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejoindre une partie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="content">
        <h1>Rejoindre une partie</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                        <p class="alert {{ category }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <ul>
            {% if games %}
                {% for game in games %}
                    <li>
                        <strong>{{ game.name }}</strong>
                        <p>Joueurs: {{ game.players|length }}/{{ game.max_players }}</p>
                        <p>Statut: {% if game.started %}Commencée{% else %}En attente{% endif %}</p>
                        
                        {% if not game.started and game.players|length < game.max_players %}
                            <form method="POST" style="display:inline;">
                                <input type="hidden" name="game_id" value="{{ game.id }}">
                                <button type="submit">Rejoindre</button>
                            </form>
                        {% endif %}
                        
                        {% if game.players|length >= game.max_players %}
                            <span class="full-game">Partie complète</span>
                        {% endif %}
                    </li>
                {% endfor %}
            {% else %}
                <p>Aucune partie disponible.</p>
            {% endif %}
        </ul>
        
        <p style="text-align: center; margin-top: 10px;">
            <a href="{{ url_for('home') }}" style="color: #007bff; text-decoration: none;">Retour à l'accueil</a>
        </p>
    </div>
    <audio id="background-audio" autoplay loop>
        <source src="{{ url_for('static', filename='audio/main.mp3') }}" type="audio/mpeg">
        Votre navigateur ne supporte pas l'élément audio.
    </audio>
</body>
</html>
