<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialiser le mot de passe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="content">
        <h1>Réinitialiser le mot de passe</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                        <p class="alert {{ category }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST">
            <label for="password">Nouveau mot de passe :</label>
            <input type="password" id="password" name="password" placeholder="Entrez un nouveau mot de passe" required><br>

            <label for="confirm_password">Confirmer le mot de passe :</label>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmez le mot de passe" required><br>

            <button type="submit">Mettre à jour</button>
        </form>
        <p style="text-align: center; margin-top: 10px;">
            <a href="{{ url_for('login') }}" style="color: #007bff; text-decoration: none;">
                Retour à la connexion
            </a>
        </p>
    </div>
</body>
</html>
